In [3]:
lst = [10, 20, 30, 40]
for i in range(4):
    print(f"{i} - {lst[i]}")

0 - 10
1 - 20
2 - 30
3 - 40

loops :- It is a set of instructions it executes multiple times again and again this process called as loops
Type of loops in python:-
1. For loop
2. While loop

For loop :- For loop in python is used to iterate over the items in any sequence(list, set, tuple, strings, dictionaries, functions)
For loop Syntax :-
for iterator in iterable:
    #bloock code
else: (optional)
   #block code

Range Function:- 
range(start, end, step)
example:-
 range(0, 4, 1)

In [10]:
for num in range(1, 11):
    print(num, end = " ")

1 2 3 4 5 6 7 8 9 10

In [9]:
for num in range(1, 11):
    print(num)
else:
    print("Program done")

1
2
3
4
5
6
7
8
9
10
Program done

In [16]:
print("Even Numbers")
for n in range(1, 100):
    if n%2 == 0:
        print(n)
print("Odd Numbers")
for n in range (1, 100):
    if n%2 != 0:
        print(n)

Even Numbers
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
Odd Numbers
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [18]:
n = int(input())
print( f"Multiplication Table of {n} ")
for i in range (1, 11):
    print(f"{n} * {i} = {n*i}")

 19

Multiplication Table of 19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [20]:
lst = [2, 5, 6, 7, 8, 9]
res = []
for i in range(len(lst)):
    if lst[i] % 2 == 0:
        res.append(lst[i])
print(res)

[2, 6, 8]